.SummaryModal {
    text-align: center;
    padding: 48px;
}

.TotalPriceModal {
    text-shadow: #13139d 10px 0 19px;
}

.IdOrderModal {
    margin: 30px;
}

.IconStatusModal {
    margin: 48px;
}

.DescriptionModal {
    margin: 15px;
}