.CardList {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-direction: row;
    flex-direction: row;
    align-items: center;
}

.BlockIngredients {
    margin-top: 40px !important;
}
