.ModalContent {
    border-radius: 40px !important;
    background: #131316 !important;
    padding: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.Title {
    margin-top: 16px;
    margin-bottom: 32px;
}

.CloseButton {
    position: absolute;
    right: 24px;
    top: 24px;
    cursor: pointer;
}
