.IngridientRow {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow-y: auto;
    max-height: 600px;
    padding-left: 14px;
    align-items: center;
}

.Scroll {
    overflow-y: scroll;
    max-height: 351px;
}