.IngridientRow {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow-y: auto;
    max-height: 600px;
    padding-left: 14px;
    align-items: center;
    overflow-y: hidden;
}

.Scroll {
    overflow-y: auto;
    height: 351px;
}

.BunBottom {
    background: #2f2f37;
    height: 88px;
    width: 100%;
    border-radius: 0 0px 40px 40px;
}

.BunTop {
    background: #2f2f37;
    height: 88px;
    width: 100%;
    border-radius: 40px 40px 0 0px;
}