.ItemCol {
    margin: 4px;
    padding: 4px;
}

.Icon {
    display: inline;
}

.Element {
    display: inline;
}

.Element svg {
    vertical-align: middle;
}

.Pointers {
    display: inline-block;
}

.IngridientSummary {
    display: inline-block;
}

.ItemColMain {
    margin: 4px;
    padding: 4px;
    margin-left: 24px;
}

.constructor-element{
    width: 478px !important;
}